*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@media only screen and (min-width:608px){
    #mag_glass{
        display: none;
    }
    #search{
        display: inline !important;
    }
    nav{
        justify-content: space-around;
    }
}
@media only screen and (min-width:1024px){
    #two{
        display: inline !important;
        position: absolute;
        right: 10px;
    }
    .container{
        margin-left: 11vw;
        margin-right: 11vw;
    }
    .a{
        background-color: black !important;
    }
    .px1024{
        display: inline !important;
        min-width: 200px;
        padding: 10px;
        padding-left: 20px;
    }
    .get-app{
        display: none;
    }
    #link-app{
        display: inline !important;
    }
    nav{
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .menu_icon{
        order: 1 !important;
    }
    #span{
        order: 0;
    }
    #search{
        order:3;
    }
    #menu-text{
        color: white;
        display: inline !important;
        order: 2;
        font-weight: 700;
    }
    .links{
    margin-left: 15vw;
    margin-right: 15vw;
    }
}

                                                    /* Styline nav bar */

nav{
    background-color: rgb(31 31 31);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.menu_icon{
    margin-left: 20px;
}
.menu_icon:hover{
    cursor: pointer;
}
.left{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu_icon div {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px
}
#menu-text{
    color: white;
    display: none;
}
.menu_text:hover{
    cursor: pointer;
}
#logo{
    margin-left: 20px;
    width: 60px;
}
#search{
    width: 100%;
    display: none;
    padding: 1px;
    padding-left: 0px;
    border-radius: 5px;
    margin-left: 10px;
    color: black;
    background-color: white;
}
#all{
    font-weight: 700;
    padding: 10px;
    border: 1px solid black;
}
#search_bar{
    padding: 8px;
    min-width: 85%;
    border: none;
}
.right{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.right a{
    color: white;
    text-decoration: none;
    display: inline;
    font-weight: 700;
}
.px1024{
    display: none;
}
#mag_glass{
    padding: 10px;
}
#sign_in{
    min-width: 70px;
    padding: 10px;
}


                                                            /* nav done */


body{
    background-color: black;
    height: 1vh;
}

                                                            /* SideNav */

.sidenav{
        height: 100%; 
        width: 0; 
        background-color: rgb(31 31 31);
        position: fixed; 
        z-index: 1;
        top: 0; 
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }
.empty{
    height: 60px;
    margin: 10px;
}
.sidenav a{
    color: whitesmoke;
    display: block;
    font-weight: 500;
    padding: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.sidenav a:hover {
    text-decoration: underline;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

                                                                    /* w */
.container{
    padding: 0;
}

.w{
    position: relative;
}
.w{
    color: gold;
    padding: 20px;
    font-size: 1.4em;
    font-weight: 900;
}
.a{
    height: 20vh;
    background-color: rgb(31 31 31);
}
#two{
    display: block;
    color: lightskyblue;
    font-size: 0.6em;
}

                                                            /* Footer */
.get-app{
    background-color: rgb(31 31 31);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.get-app a{
    color: black;
    text-decoration: none;
    background-color: gold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: 700;
}
.social{
    text-align: center;
}
.social img{
    width: 20px;
    margin: 20px;
}

#link-app{
    display: none;
}
.links{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: 10vw;
    margin-right: 10vw;
}
.links a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}
.amzn-logo{
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    font-size: 1.2em;

}
.amzn-logo img{
    width: 70px;
    position: relative;
    top: 10px;
}
.cr{
    color: grey;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}